body {
    background-image: url('GoHelperWall.png');
    background-size: auto no-reapeat;
}

.info {
    top: 40px;
    position: relative;
    background-color: rgba(240, 233, 233, 0.9);
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
}
.compare {
    width: 43%
}
.compareRight {
    width: 43%;
}

#history {
    padding:5px;
}

.teamInput {
    float: left;
    top 10px;
}

.compareInput {
    top: 10px;
    float:right;
}